/* -------------------------- Navegación -------------------------------- */
nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: #ff5722;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #050A30;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 10px;
}

/* -------------------------- Estilos del menú -------------------------- */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  position: relative;
}

nav ul li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  display: block;
}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #050A30;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 1;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li {
  width: 150px;
}

nav ul li ul li a {
  color: white;
  padding: 10px;
}

nav ul li ul li a:hover {
  background-color: #050A30;
}

/* ----------------------- Estilos Responsivos ------------------------- */
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li ul {
    position: relative;
  }
}
